
.b{
   height: 1000px;
   width: 400px;
   background-color: grey;
   float: left;
}
.c{
    height: 1000px;
    width: 120%;
    background-color:lightblue;
    
}
.b1{
    height: 250px;
    width: 200px;
    background-color: white;
    margin-left: 70px;
    position: relative;
    top: 80px;
}
.b2{
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
    background-color: goldenrod;
    position: relative;
    top: 110px;
    left: 50px;
    margin-bottom: 20px;
}
span{
    position: relative;
    left: 70px;
    
    
}
i{
    font-size: 20px;
    position: relative;
    top: 18px;
    left: 15px;
}
h2{
    position: relative;
    top: 120px;
   left: 20px;
    margin-left: 20px;
}
.b3{
    position: relative;
    top: 120px;
    left: 30px;
    font-size: 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.b4{
    position: relative;
    top: 110px;
    left: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c1{
    height: 200px;
    width: 83%;
    background-color: goldenrod;
    position: relative;
    top: 105px;
    left: 270px;
}
b{
    position: relative;
    top: 80px;
    font-size: 50px;
    right: 0px;
}
.c2{
    position: relative;
    top: 120px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 10px;
}
.c3{
    position: relative;
    top: 120px;
    font-size: 30px;
    left: 20px;
}
h5{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 500px;
}
